<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
   {{>script}}
    <title>Weather APP</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="/images/weather.png" type="image/png" />
  </head>
  <body>
    <div class="containter-fluid main_menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          {{>navbar}}
        </div>
      </div>
    </div>
    <div class="containter-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                     <img src="/images/my.jpeg" alt="sangam" class="img-fluid">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to my weather-app</p>
                    <h1>I am A<span class="text_clr"> Mern Stack Developer</span> With Strong Background </h1>
               <a href="https://www.linkedin.com/in/sangam-shukla-225412271/"><button>About Me</button></a>
               
                </div>
               
            
            </div>
        </div>
      </div>
    </div>
      <!---this is footer --->
    {{>footer}}
  </body>
</html>
